// === BASE STYLES ===
@use '../abstracts/variables' as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}


* {
  font-feature-settings: 'kern' 1, 'liga' 1;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


