.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    border: none;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &--secondary {
        margin-left: 20px;
        &:hover {
            color: #0DA3FF;
            background-color: hsla(203, 100%, 53%, 0.10);
        }
    }
}